<!-- Body -->
<div class="wrapper">

  <!-- Content -->
  <div class="section section-tabs">
    <div class="container">

      <div style="margin-top: 50px;"></div>

      <div class="title">
        <h3 class="mb-3">Expense and Target
        </h3>
      </div>

      <!-- Cards holder -->
      <div class="row">
        <div class="col-md-12 ml-auto col-xl-12 mr-auto">

          <!-- Sestion 1 -->
          <div class="mb-3">
            <small class="text-uppercase font-weight-bold">
              Target & Goal
            </small>
          </div>
          <div class="card">
            <div class="card-header" style="padding-bottom: 15px">

              <!-- When no target set -->
              <div *ngIf="!targetExist">
                <form class="form" [formGroup]="targetform" (ngSubmit)="targetSet(targetform)">

                  <div class="row justify-content-center" style="margin-top: 2%;">
                    <h3 class="display-5"><b>Set a New Target</b></h3> 
                  </div>
  
                  <div class="row justify-content-center">
  
                    <!-- <div class="col-md-6">
                      <div class="form-group">
                        <label> Salary (RM) </label>
                        <input class="form-control" placeholder="000.00" type="number" step=".01" formControlName="salary"/>
                      </div>
                    </div> -->
  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> Target Amount (RM) </label>
                        <input class="form-control" placeholder="000.00" type="number" step=".01" formControlName="target"/>
                      </div>
                    </div>
                    
                  </div>
  
                  <div class="row justify-content-center">
  
                    <!-- <div class="col-md-6">
                      <div class="form-group">
                        <label> Payday (This Month) </label>
                        <input bsDatepicker class="form-control" placeholder="Select day (DD/MM)" data-datepicker-color="danger"
                        [bsConfig]="{ isAnimated: true, containerClass: 'theme-dark-blue', adaptivePosition: true, dateInputFormat: 'DD/MM', todayPosition: 'center', showWeekNumbers: false }" 
                         [outsideClick]="true" id="datepicker" type="text" formControlName="paydate"/>
                      </div>
                    </div> -->
  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> Expected Target Date </label>
                        <input bsDatepicker class="form-control" placeholder="Select date (DD/MM/YYYY)" data-datepicker-color="danger"
                        [bsConfig]="{ isAnimated: true, containerClass: 'theme-dark-blue', adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY', todayPosition: 'center', showWeekNumbers: false }" 
                        [minDate]="minDate" [outsideClick]="true" id="datepicker" type="text" formControlName="enddate"/>
                      </div>
                    </div>
  
                  </div>
  
                  <alert *ngIf="targetError" class="alert-with-icon" [type]="'warning alert-with-icon'">
                    <span class=" tim-icons icon-alert-circle-exc" data-notify="icon">
                    </span>
                    <span [innerHtml]="targetError"></span>
                  </alert>
  
                  <button class="btn btn-info btn-round float-right" placement="right" type="submit">
                    Set
                  </button>
                </form>
              </div>

              <!-- When have target set -->
              <div *ngIf="targetExist && !targetSucceed">
                
                <div class="row" style="margin-top: 3%;">
                  <!-- <div class="col-md-4" style="text-align: center;">
                    <i class="tim-icons icon-wallet-43" style="color: plum; margin-top: 10%;"></i>
                    <p class="display-3">RM {{ targets.salary }}</p>
                    <p class="display-5 text-muted">Your Monthly Salary</p> 
                  </div> -->
                  <div class="col-md-12" style="text-align: center;">
                    <i class="tim-icons icon-trophy" style="color: gold;"></i>
                    <p class="display-4 text-muted">Your Target</p> 
                    <h1 class="display-1"><b>RM {{ targets.target }}</b></h1>
                  </div>
                  <!-- <div class="col-md-4" style="text-align: center;">
                    <i class="tim-icons icon-money-coins" style="color: plum; margin-top: 10%;"></i>
                    <p class="display-3">{{ targets.payday | date: 'dd' }}</p>
                    <p class="display-5 text-muted">Day of Monthly Payday</p> 
                  </div> -->
                </div>

                <div class="row" style="margin-top: 3%;">
                  <div class="col-md-12" style="text-align: center;">
                    <i class="tim-icons icon-calendar-60" style="color: lightskyblue;"></i>
                    <p class="display-5 text-muted">Targeted Date</p> 
                    <h1 class="display-3">{{ targets.targetDate | date: 'dd/MM/yyyy' }}</h1>
                  </div>
                </div>
                
                <div class="row" style="margin-top: 3%;">
                  <div class="col-md-6" style="text-align: center;">
                    <i class="tim-icons icon-coins" style="color: greenyellow;"></i>
                    <p class="text-muted">Earning</p>
                    <p class="display-2"><b>RM {{ eachDay }}</b></p> 
                    <p class="text-muted">Each day to achive your target</p>
                  </div>
                  <div class="col-md-6" style="text-align: center;">
                    <i class="tim-icons icon-time-alarm" style="color: greenyellow;"></i>
                    <p class="text-muted">Remaining</p>
                    <p class="display-2"><b>{{ daysdiff.days }}</b> 
                      <small style="font-size: small;">{{daysorday}}</small>
                    </p>
                    <p class="text-muted">Until reaching the targeted date</p>
                  </div>
                </div>

                <div class="row" style="margin-top: 5%;">
                  <div class="col-md-12" style="text-align: left;">
                    <button class="btn btn-danger btn-round" placement="center" type="button" (click)="giveupModal.show()">
                      Give Up
                    </button>
                  </div>
                </div>

              </div>

              <!-- When target reached -->
              <div *ngIf="targetSucceed">
                
                <div class="row">
                  <div class="col-md-12" style="text-align: center;">
                    <h1 class="display-2" style="margin-top: 5%; text-transform: uppercase;"><b>Good News!</b></h1>
                    <i class="tim-icons icon-shape-star" style="color: gold; margin-right: 1%;"></i>
                    <i class="tim-icons icon-shape-star" style="color: gold;margin-right: 1%;"></i>
                    <i class="tim-icons icon-shape-star" style="color: gold;margin-right: 1%;"></i>
                    <i class="tim-icons icon-shape-star" style="color: gold;margin-right: 1%;"></i>
                    <i class="tim-icons icon-shape-star" style="color: gold;"></i>
                    <p class="display-4 text-muted">According to your records</p>
                    <p class="text-muted">A total</p>
                    <p class="display-3"><b>RM {{ totalBalance }}</b></p>
                    <p class="text-muted">Balanced savings had already in your hand</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6" style="text-align: center;">
                    <i class="tim-icons icon-trophy" style="color: lightskyblue; margin-top: 5%;"></i>
                    <p class="display-4 text-muted">Your target</p>
                    <p class="display-1">
                      <small>RM</small>
                      <b>{{ targets.target }}</b>
                    </p>
                    <p class="display-4 text-muted">Is consider reached</p> 
                  </div>

                  <div class="col-md-6" style="text-align: center;">
                    <i class="tim-icons icon-heart-2" style="color: hotpink; margin-top: 5%;"></i>
                    <p class="display-4 text-muted">You are</p>
                    <p class="display-1">
                      <b>{{ daysdiff.days }}</b>
                      <small style="font-size: small;">{{daysorday}}</small>
                    </p>
                    <p class="display-4 text-muted">Earlier than expected date</p> 
                  </div>
                </div>

                <div class="row" style="text-align: center;">
                  <div class="col-md-12">
                    <i class="tim-icons icon-alert-circle-exc" style="color: orange; margin-top: 5%;"></i>
                    <p class="text-muted">
                      Do Not <u><b>Mark as Completed</b></u> if you are not acknowledging your target has reached. <br>
                      We will continue serving your needs until the ends of target date.
                    </p> 

                  </div>
                </div>
               
                <div class="row" style="margin-top: 3%;">
                  <div class="col-md-12" style="text-align: left;">
                    <button class="btn btn-warning btn-round" placement="center" type="button" (click)="complete(targets.targetID)">
                      Mark as Completed
                    </button>
                    <!-- <span class="text-muted" style="margin-left: 2%;">
                      <u><b>Mark as Completed</b></u> for making new target.
                    </span>  -->
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Cards holder -->
      <div class="row">
        <div class="col-md-12 ml-auto col-xl-12 mr-auto">

          <!-- Sestion 1 -->
          <div class="mb-3">
            <small class="text-uppercase font-weight-bold">
              All Expense History
            </small>
          </div>
          <div class="card">
            <div class="card-header">
              <table class="table" style="table-layout: fixed">
                <thead>
                  <tr>
                    <th class="text-left">Date (D/M/Y)</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th style="width: 30%">Description</th>
                    <th class="text-right">Amount (RM)</th>
                    <th class="text-right">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of records | paginate: config">
                    <td>{{ record.createDTTM  | date: 'd/M/yyyy' }}</td>
                    <td>{{ record.name }}</td>
                    <td>{{ record.type }}</td>
                    <td>{{ record.category }}</td>
                    <td>{{ record.description }}</td>
                    <td class="text-right">{{ record.amount }}</td>
                    <td class="text-right">

                      <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon btn-tooltip" placement="top"
                      tooltip="Edit" style="margin-right:5px" (click)="selectRecord(record); editModal.show()" data-target="#editModal">
                        <i class="tim-icons icon-pencil"></i>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon btn-tooltip" placement="top"
                      tooltip="Delete" (click)="selectRecord(record); delModal.show()" data-target="#delModal">
                        <i class="tim-icons icon-trash-simple"></i>
                      </button>

                    </td>
                  </tr>
                </tbody>
              </table>

              <div *ngIf="noRecord" style="text-align: center; margin-bottom: 5%;">
                <p class="display-4 text-muted">No records yet</p>
              </div>

              <div *ngIf="!noRecord" class="row justify-content-center">

                <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">

                  <div class="custom-pagination">

                    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                      <a *ngIf="!p.isFirstPage()" class="text-muted" (click)="p.previous()">PREVIOUS</a> 
                    </div> 

                    <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                        <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>

                        <div *ngIf="p.getCurrent() === page.value">
                          <span>{{ page.label }}</span>
                        </div>

                    </div>

                    <div class="pagination-next" [class.disabled]="p.isLastPage()">
                      <a *ngIf="!p.isLastPage()" class="text-muted" (click)="p.next()"> NEXT </a>
                    </div>

                  </div>
              
                </pagination-template>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <button class="btn btn-primary btn-fab btn-round" (click)="createModal.show()">
          <i class="tim-icons icon-simple-add"></i> New Record
        </button>
      </div>

    </div>
  </div>


  <!-- Create Modal -->
  <div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade"
  #createModal="bs-modal"
  id="createModal"
  role="dialog"
  tabindex="-1"
  style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:#1f2251;">
        <div class="modal-header justify-content-center" style="background-color:#1f2251;">
          <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="createModal.hide(); closeReload()"
          >
            <i class="tim-icons icon-simple-remove" style="color: white;"> </i>
          </button>
          <h4 class="title title-up" style="color: white;">Create New Record</h4>
        </div>
        <div class="modal-body" style="background-color:#1f2251;">
          <form class="form" [formGroup]="createform" (ngSubmit)="create(createform)">

            <div class="row">
              <div class="col-md-auto">
                <div class="form-group">
                  <label style="color: white;"> Type </label> <br/>
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" formControlName="type" id="inlineRadio1" value="0"> Saving
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" formControlName="type" id="inlineRadio2" value="1"> Spending
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label style="color: white;"> Item Name </label>
                  <input class="form-control" placeholder="Item name" type="text" formControlName="name" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label style="color: white;"> Amount (RM) </label>
                  <input class="form-control" placeholder="000.00" type="number" step=".01" formControlName="amount"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="categorySelect" style="color: white;"> Category </label>
                  <select class="form-control" id="categorySelect" formControlName="category">
                    <option value="" [disabled]="true" style="background-color: #1f2251;">-Select category- </option>
                    <option *ngFor="let category of categories" [value]="category.categoryID" style="background-color: #1f2251;">{{ category.category }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label style="color: white;"> Datetime </label>
                  <input bsDatepicker class="form-control" placeholder="Select date (DD/MM/YYYY)" data-datepicker-color="danger"
                    [bsConfig]="{ isAnimated: true, containerClass: 'theme-dark-blue', adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY hh:mm a', showTodayButton: true, todayPosition: 'center', showWeekNumbers: false }" 
                    [maxDate]="maxDate" [outsideClick]="true" id="datepicker" type="text" formControlName="date"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label style="color: white;"> Description </label>
                  <textarea class="form-control" placeholder="Description" type="text" formControlName="description" rows="2"></textarea>
                </div>
              </div>
            </div>

            <alert *ngIf="createError" class="alert-with-icon" [type]="'warning alert-with-icon'">
              <span class=" tim-icons icon-alert-circle-exc" data-notify="icon">
              </span>
              <span [innerHtml]="createError"></span>
            </alert>
            
            <alert *ngIf="createSuccess" class="alert-with-icon" [type]="'success alert-with-icon'">
              <span class=" tim-icons icon-check-2" data-notify="icon">
              </span>
              <span [innerHtml]="createSuccess"></span>
            </alert>

            <button class="btn btn-info btn-round float-right" placement="right" type="submit">
              Save
            </button>
          </form>
          <button class="btn btn-danger btn-round" data-dismiss="modal" type="button" (click)="createModal.hide(); closeReload()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Create Modal end -->

  <!-- Edit Modal -->
  <div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade"
  #editModal="bs-modal"
  id="editModal"
  role="dialog"
  tabindex="-1"
  style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:#212529;">
        <div class="modal-header justify-content-center" style="background-color:#212529;">
          <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="editModal.hide(); closeReload()"
          >
            <i class="tim-icons icon-simple-remove" style="color: white;"></i>
          </button>
          <h4 class="title title-up" style="color: white;">Edit</h4>
        </div>
        <div class="modal-body" style="background-color:#212529;">
          <form class="form" [formGroup]="editform" (ngSubmit)="edit(editform)">

            <div class="row">
              <div class="col-md-auto">
                <div class="form-group">
                  <label style="color: white;"> Type </label> <br/>
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" formControlName="type" id="inlineRadio1" value="0"> Saving
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" formControlName="type" id="inlineRadio2" value="1"> Spending
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label style="color: white;"> Item Name </label>
                  <input class="form-control" placeholder="Item name" type="text" formControlName="name" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label style="color: white;"> Amount (RM) </label>
                  <input class="form-control" placeholder="000.00" type="number" step=".01" formControlName="amount"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="categorySelect" style="color: white;"> Category </label>
                  <select class="form-control" id="categorySelect" formControlName="category">
                    <option *ngFor="let category of categories" [value]="category.categoryID" style="background-color: #444b53;">{{ category.category }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label style="color: white;"> Description </label>
                  <textarea class="form-control" placeholder="Description" type="text" formControlName="description" rows="2"></textarea>
                </div>
              </div>
            </div>

            <alert *ngIf="editError" class="alert-with-icon" [type]="'warning alert-with-icon'">
              <span class=" tim-icons icon-alert-circle-exc" data-notify="icon">
              </span>
              <span [innerHtml]="editError"></span>
            </alert>
            
            <alert *ngIf="editSuccess" class="alert-with-icon" [type]="'success alert-with-icon'">
              <span class=" tim-icons icon-check-2" data-notify="icon">
              </span>
              <span [innerHtml]="editSuccess"></span>
            </alert>

            <button class="btn btn-info btn-round float-right" placement="right" type="submit">
              Save
            </button>
          </form>
          <button class="btn btn-danger btn-round" data-dismiss="modal" type="button" (click)="editModal.hide(); closeReload()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Modal end -->

  <!-- Delete Modal -->
  <div
    aria-hidden="true"
    aria-labelledby="myModalLabel"
    bsModal
    class="modal fade modal-mini modal-primary modal-mini"
    #delModal="bs-modal"
    id="delModal"
    role="dialog"
    tabindex="-1"
    style="background-color: rgba(0, 0, 0, 0.8);"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            (click)="delModal.hide()"
            type="button"
          >
            <i class="tim-icons icon-simple-remove text-white"> </i>
          </button>
          <div class="modal-profile">
            <i class="tim-icons icon-trash-simple"> </i>
          </div>
        </div>
        <div class="modal-body" style="text-align: center;">
          <h4>Delete "<b>{{selectedRecord.name}}</b>" ?</h4>
          <small>Deleting record may affect your recommendations. Confirm?</small>
        </div>
        <div class="modal-footer">
          <button class="btn btn-link btn-neutral" data-dismiss="modal" type="button" style="color: rgb(255, 255, 255);" (click)="delModal.hide()">
            Cancle
          </button>
          <button class="btn btn-link btn-neutral" data-dismiss="modal" type="button" style="color: rgb(0, 0, 0);" (click)="deleteRecord(selectedRecord.id); delModal.hide()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Modal end -->

  <!-- Give Up Modal -->
  <div
    aria-hidden="true"
    aria-labelledby="myModalLabel"
    bsModal
    class="modal fade modal-mini modal-primary modal-mini"
    #giveupModal="bs-modal"
    id="giveupModal"
    role="dialog"
    tabindex="-1"
    style="background-color: rgba(0, 0, 0, 0.8);"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            (click)="giveupModal.hide()"
            type="button"
          >
            <i class="tim-icons icon-simple-remove text-white"> </i>
          </button>
          <div class="modal-profile">
            <i class="tim-icons icon-alert-circle-exc"> </i>
          </div>
        </div>
        <div class="modal-body" style="text-align: center;">
          <h4>Are You Sure?</h4>
          <small>Giving up this target will permanently removed.</small>
        </div>
        <div class="modal-footer">
          <button class="btn btn-link btn-neutral" data-dismiss="modal" type="button" style="color: rgb(255, 255, 255);" (click)="giveupModal.hide()">
            Cancle
          </button>
          <button class="btn btn-link btn-neutral" data-dismiss="modal" type="button" style="color: rgb(0, 0, 0);" (click)="giveUp(targets.targetID); giveupModal.hide()">
            Give Up
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Give UP Modal end -->

</div>