<!-- Body -->
<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />
    <img class="path2" src="assets/img/path2.png" />
    <img class="shapes triangle" src="assets/img/triunghiuri.png" />
    <img class="shapes wave" src="assets/img/waves.png" />
    <img class="shapes squares" src="assets/img/patrat.png" />
    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="content-center">
      <div
        class="row row-grid justify-content-between align-items-center text-left"
      >
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            We provide the easiest <br />

            <span class="text-white"> expense tarcking </span>
          </h1>
          <p class="text-white mb-3">
            Our aim is to providing the easiest and the most simple service for our users to keep their expense on track and also having a savings targeting feature for the user to achive their goals. 
          </p>
        </div>
        <div class="col-lg-5 col-md-5">
          <img
            alt="Circle image"
            src="assets/img/logo-full.png"
          />
        </div>
      </div>
    </div>
  </div>
  
  <section class="section section-lg">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center"><b>Your best benefits</b></h1>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-money-coins"> </i>
                </div>
                <h4 class="info-title">Better Money Management</h4>
                <hr class="line-primary" />

                <p>
                  Keeps clear and simple trackings of all expenses from the user
                  for rising the spandings and savings awearness. 
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-notes"> </i>
                </div>
                <h4 class="info-title">Efficient Expense Planning</h4>
                <hr class="line-warning" />

                <p>
                  Insight and balances calculation provide a visual results 
                  for user to have better awearness of their spendings and savings
                  pattern and plan accordingly for the next expense.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-info">
                  <i class="tim-icons icon-heart-2"> </i>
                </div>
                <h4 class="info-title">Better Achievement</h4>
                <hr class="line-info" />

                <p>
                  Targeting system provide a clear roadmap for the user to
                  make the move effective choice in thier expenses plan. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg section-safe">
    <img class="path" src="assets/img/path5.png" />

    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-md-6" >
          <carousel [showIndicators]="false" >
            <slide >
              <img
                alt="First slide"
                class="d-block w-100"
                src="assets/img/overview.png"
          
              />
            </slide>
            <slide style="text-shadow: 2px 2px 4px #000000;">
              <img
                alt="Second slide"
                class="d-block w-100"
                src="assets/img/target.png"

              />
            </slide>
            <slide style="text-shadow: 2px 2px 4px #000000;">
              <img
                alt="Third slide"
                class="d-block w-100"
                src="assets/img/insight.png"

              />
            </slide>
          </carousel>

        </div>
        <div class="col-md-6">
          <div class="px-md-5">
            <hr class="line-success" />

            <h3>Awesome features</h3>
            <p>
              The expense management system comes with some useful core features to help you keep on
              track with your expenses and goal. Explore those feature will your expense management to
              be more effectively.
      
            </p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-bulb-63"> </i>
                  </div>
                  <div class="ml-3"><h6>Recommendation and suggestion</h6></div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-trophy"> </i>
                  </div>
                  <div class="ml-3"><h6>Targeting and goal</h6></div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-sound-wave"> </i>
                  </div>
                  <div class="ml-3"><h6>Visualization insight</h6></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section-lg">
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <hr class="line-info" />

          <h1>
            <b>Interested to give it a try?</b>
          </h1>
        </div>
      </div>
      <div class="row" style="margin-top: 10%;">
        
        <div class="col-md-12">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="assets/img/logo-coin_only.png"
              />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <p class="display-2 text-uppercase"><b>Sign up with us now</b></p>
                  <p class="display-4 text-muted"><b>Get started your first step of money management</b></p>
                </div>
              </div>
            </div>
            <div class="card-footer text-center" style="margin-top: 3%; margin-bottom: 3%;">
              <button class="btn btn-success btn-simple" [routerLink]="['/register']">Register Now</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
</div>