<!-- Body -->
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img alt="Card image" class="card-img" src="assets/img/square1-red.png" />

                <h4 class="card-title">Register</h4>
              </div>
              <div class="card-body">
                <form class="form" [formGroup]="registerform" (ngSubmit)="register(registerform)">

                  <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <input class="form-control" placeholder="User Name" type="text" formControlName="username"
                      (focus)="focus = true" (blur)="focus = false"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                      <span *ngIf="f.username.errors">
                        <span *ngIf="f.username.errors.required" style="color: rgb(255, 100, 100); font-size: x-small; position: absolute; right: 5%; top: 30%;">
                          Required
                        </span>
                      </span>
                  </div>

                  <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" formControlName="email"
                      (focus)="focus1 = true" (blur)="focus1 = false"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <span *ngIf="f.email.errors">
                        <span *ngIf="f.email.errors.required" style="color: rgb(255, 100, 100); font-size: x-small; position: absolute; right: 5%; bottom: 30%;">
                          Required
                        </span>
                        <span *ngIf="f.email.errors.email" style="color: rgb(255, 100, 100); font-size: x-small; position: absolute; right: 5%; bottom: 30%;">
                          Invalid
                        </span>
                      </span>
                  </div>

                  <div class="input-group" [ngClass]="{ 'input-group-focus': focus2 === true }">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input class="form-control" placeholder="Password" minlength="8" [type]="fieldTextType ? 'text' : 'password'"
                      formControlName="passwords" (focus)="focus2 = true" (blur)="focus2 = false"
                      [ngClass]="{ 'is-invalid': submitted && f.passwords.errors }" />
                      <span *ngIf="f.passwords.errors">
                        <span *ngIf="f.passwords.errors.required" style="color: rgb(255, 100, 100); font-size: x-small; position: absolute; right: 15%; top: 30%;">
                          Required
                        </span>
                      </span>

                    <div class="input-group-text">
                      <i class="fa" [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType}" (click)="toggleFieldTextType()"></i>
                    </div>

                  </div>

                  <div class="input-group" [ngClass]="{ 'input-group-focus': focus3 === true }">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input class="form-control" placeholder="Confirm Password" minlength="8"
                      [type]="fieldTextType2 ? 'text' : 'password'" formControlName="conf_passwords"
                      (focus)="focus3 = true" (blur)="focus3 = false"
                      [ngClass]="{ 'is-invalid': submitted && f.conf_passwords.errors }" />
                      <span *ngIf="f.conf_passwords.errors">
                        <span *ngIf="f.conf_passwords.errors.required" style="color: rgb(255, 100, 100); font-size: x-small; position: absolute; right: 15%; top: 30%;">
                          Required
                        </span>
                      </span>

                    <div class="input-group-text">
                      <i class="fa" [ngClass]="{
                      'fa-eye-slash': !fieldTextType2,
                      'fa-eye': fieldTextType2}" (click)="toggleFieldTextType2()"></i>
                    </div>  

                  </div>
                  <small class="text-muted" style="font-size: smaller;">*password minimum 8 characters</small>
                  <div class="card-footer">
                    <button class="btn btn-danger btn-round btn-lg" type="submit">
                      Get Started
                    </button>
                  </div>

                </form>
              </div>

            </div>
            <alert *ngIf="registerError" class="alert-with-icon" [type]="'warning alert-with-icon'">
              <span class=" tim-icons icon-alert-circle-exc" data-notify="icon">
              </span>
              <span [innerHtml]="registerError"></span>
            </alert>
          </div>

          <div class="col-md-5">
            <p class="display-1 text-uppercase text-left">Sign Up</p>
            <p class="display-3 text-muted text-left">
              <small>And</small> Get Started
            </p>
          </div>


        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>

    </div>
  </div>

</div>