<!-- Body -->
<div class="wrapper">

  <!-- Content -->
  <div class="section section-tabs">
    <div class="container">

      <div style="margin-top: 50px;"></div>

      <div class="title">
        <h3 class="mb-3">Quick Access</h3>
      </div>

      <!-- Cards holder -->
      <div class="row">
        <div class="col-md-10 ml-auto col-xl-6 mr-auto">

          <!-- Sestion 1 -->
          <div class="mb-3">
            <small class="text-uppercase font-weight-bold">
              Quick Record
            </small>
          </div>
          <div class="card">
            <div class="card-header" style="padding-bottom: 3%">
              <div class="col-md-12">
                <form class="form" [formGroup]="quickform" (ngSubmit)="create(quickform)">

                  <div class="row">
                    <div class="col-md-auto">
                      <div class="form-group">
                        <label> Type </label> <br/>
                        <div class="form-check form-check-radio form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" formControlName="type" id="inlineRadio1"
                              value="0"> Saving
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check form-check-radio form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" formControlName="type" id="inlineRadio2"
                              value="1"> Spending
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label> Item Name </label>
                        <input class="form-control" placeholder="Item name" type="text" formControlName="name" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label> Amount (RM) </label>
                        <input class="form-control" placeholder="000.00" type="number" step=".01"
                          formControlName="amount" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="categorySelect"> Category </label>
                        <select class="form-control" id="categorySelect" formControlName="category">
                          <option value="" [disabled]="true" style="background-color: #1f2251;">-Select category-
                          </option>
                          <option *ngFor="let category of categories" [value]="category.categoryID"
                            style="background-color: #1f2251;">{{ category.category }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label> Datetime </label>
                        <input bsDatepicker class="form-control" placeholder="Select date (DD/MM/YYYY)"
                          data-datepicker-color="danger"
                          [bsConfig]="{ isAnimated: true, containerClass: 'theme-dark-blue', adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY', showTodayButton: true, todayPosition: 'center', showWeekNumbers: false }"
                          [maxDate]="maxDate" [outsideClick]="true" id="datepicker" type="text"
                          formControlName="date" />
                      </div>
                    </div>
                  </div>

                  <alert *ngIf="quickError" class="alert-with-icon" [type]="'warning alert-with-icon'">
                    <span class=" tim-icons icon-alert-circle-exc" data-notify="icon">
                    </span>
                    <span [innerHtml]="quickError"></span>
                  </alert>

                  <alert *ngIf="quickSuccess" class="alert-with-icon" [type]="'success alert-with-icon'">
                    <span class=" tim-icons icon-check-2" data-notify="icon">
                    </span>
                    <span [innerHtml]="quickSuccess"></span>
                  </alert>

                  <button class="btn btn-info btn-round float-right" placement="right" type="submit">
                    Save
                  </button>

                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="title">
        <h3 class="mb-3">Overview</h3>
      </div>

      <div class="row">
        <!-- Session 2 -->
        <div class="col-md-10 ml-auto col-xl-6 mr-auto">

          <div class="mb-3">
            <small class="text-uppercase font-weight-bold">
              Summary
            </small>
          </div>
          <div class="card">
            <div class="card-header" style="padding-bottom: 3%; min-height: 480px;">
              <div class="col-md-12">
                <label class="text-muted"> This Month </label>
                <div class="col-md-12">
                  <div *ngIf="noChart" class="card-body">
                    <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
                      <p class="text-muted">No data to show yet</p>
                    </div>
                  </div>
                  <div *ngIf="!noChart" class="card-body">
                    <div class="chart-area">
                      <canvas id="chartBig"></canvas>
                    </div> 
                  </div>

                  <label class="text-muted" style="margin-top: 5%;"> Recent Records </label>
                  <div class="row">
                    <div class="col-md-8 align-self-center" style="text-align: center;">

                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-left">Name</th>
                            <th>Type</th>
                            <th class="text-right">RM</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let record of records">
                            <td class="text-left">{{ record.name }}</td>
                            <td>{{ record.type }}</td>
                            <td class="text-right">{{ record.amount }}</td>
                          </tr>
                        </tbody>
                      </table>
                      <div *ngIf="noRecord">
                        <p class="text-muted">No records yet</p>
                      </div>

                    </div>

                    <div class="col-md-4 align-self-center" style="text-align: center;">

                      <i class="tim-icons icon-tag" style="color: orange;"></i>
                      <p class="text-muted">Compare Previous 1 Month</p>
                      <p class="display-4"><small>RM</small><b> {{ comparesub }} </b></p>
                      <p *ngIf="compareText" class="text-muted"><span style="color: yellow">Greater</span> nor <span style="color: yellow;">Lesser</span> saving</p>
                      <p *ngIf="overspendText" class="text-muted"><span style="color: hotpink;">Lesser</span> saving</p>
                      <p *ngIf="savedText" class="text-muted"><span style="color: lightgreen">Greater</span> saving</p>

                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <!-- Session 3 -->
        <div class="col-md-10 ml-auto col-xl-6 mr-auto">


          <div class="mb-3">
            <small class="text-uppercase font-weight-bold">
              Keep On Track
            </small>
          </div>
          <div class="card">
            <div class="card-header" style="padding-bottom: 3%; min-height: 480px;">
              <div class="col-md-12">
                <label class="text-muted"> This Week </label>
                <div class="col-md-12">
                  <div *ngIf="noChart2" class="card-body">
                    <div style="text-align: center;margin-top: 50px; margin-bottom: 50px;">
                      <p class="text-muted">No data to show yet</p>
                    </div>
                  </div>
                  <div *ngIf="!noChart2" class="card-body">
                    <div class="chart-area">
                      <canvas id="chartBig2"> </canvas>
                    </div>
                  </div>

                  <label class="text-muted" style="margin-top: 5%;"> Target Suggestions </label>
                  <div class="col-md-12" style="margin-bottom: 5%; margin-top: 3%;">
                    <div *ngIf="targetSucceed">
                      <p class="text-muted display-4">Target reached <br><small>Visit Expense
                          page to see more details.</small></p>
                    </div>

                    <div *ngIf="targetExist && !targetSucceed">
                      <div class="row">
                        <div class="col-7">
                          <p class="text-muted">Suggest earning</p>
                          <p class="display-4">
                            RM {{ eachDay }}
                            <small style="font-size: small;">Each day</small>
                          </p>
                          <p class="text-muted">For ther next</p>
                          <p class="display-4">
                            {{ daysdiff.days }}
                            <small style="font-size: small;">{{daysorday}}</small>
                          </p>
                        </div>

                        <div class="col-5">
                          <p class="text-muted">To reach target</p>
                          <p class="display-4">
                            RM {{ this.targets.target }}
                          </p>
                        </div>
                      </div>

                    </div>

                    <div *ngIf="!targetExist">
                      <p class="text-muted display-4" style="text-align: center;">Target not
                        set <br><small>Visit Expense page set up your target today.</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Session 4 -->
        <div class="col-md-10 ml-auto col-xl-6 mr-auto">


          <div class="mb-3">
            <small class="text-uppercase font-weight-bold">
              Recommendation & Tips
            </small>
          </div>
          <div class="card">

            <div *ngIf="priority1" class="card-header" style="padding-bottom: 3%; min-height: 300px;">
              <div class="col-md-12">
                <p class="display-4 text-muted">According to your records</p>
                <p class="text-muted">The highst in your spendings records is</p>
                <p class="display-3">{{ highestCat }} <small style="font-size: small;">category
                    items</small></p>
                <p class="text-muted">Advise reduce the spendings on this category</p>

                <p class="display-4 text-right text-muted" style="margin-top: 5%;">In order to
                  reducing up to</p>
                <p class="display-3 text-right">{{ percentCat }} <small style="font-size: small;">%</small></p>
                <p class="text-muted text-right">maximum of your all time spendings</p>

              </div>
            </div>

            <div *ngIf="priority2" class="card-header" style="padding-bottom: 3%">
              <div class="col-md-12">
                <p class="display-4 text-muted">According to your records</p>
                <p class="text-muted">Suggest adjust spendings on</p>
                <p class="display-3">{{ highestCat }} <small style="font-size: small;">category
                    items</small></p>

                <p class="display-4 text-right text-muted" style="margin-top: 5%;">Possible to
                  adjusting up to</p>
                <p class="display-3 text-right">{{ percentCat }} <small style="font-size: small;">%</small></p>
                <p class="text-muted text-right">maximum of your all time spendings</p>

              </div>
            </div>

            <div *ngIf="!priority1 && !priority2" class="card-header" style="padding-bottom: 3%">
              <div class="col-md-12 " style="text-align: center;">

                <p class="display-4 text-muted" style="padding-top: 5%; margin-bottom: 5%;">Not
                  enough data to generate recommendations </p>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>